/* Header 
===========*/

.header {

	position: fixed;
	top: 0;
	width: 100%;
	min-height: 80px;

	display: flex;
	align-items: center;

	background-color: var(--darkgray);

	z-index: 100;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* padding: 22px 0; */
}

.header_logo {
	font-size: 24px;
	font-weight: 700;
	color: var(--white);

	width: 40%;

	text-transform: uppercase;

	cursor: pointer;
}

/* NavBar 
===========*/

.nav {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;

	/* width: 60%; */
}

.nav_link a {
	color: var(--white);
	font-size: 18px;
	text-decoration: none;

	transition: color 0.2s ease-out;
}

.nav_link a:hover {
	color: var(--red);
}

.nav_link_btn {
	display: flex;
}

.nav_link_btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96px;
	height: 39px;

	border-radius: 5px;
	background-color: var(--red);

	transition: all 0.3s ease-out;
}

.nav_link_btn a:hover {
	background-color: transparent;
	color: var(--white);

	border-radius: 5px;
	border: 1px solid var(--red);

	transition: all 0.3s ease-out;
}

/* Mobile_menu 
===========*/
.menu_toggle {
	display: none;

	cursor: pointer;
}

.menu_toggle .bar {
	width: 25px;
	height: 3px;
	background-color: var(--white);

	margin-bottom: 5px;
}

/* Media 
============= */

@media (max-width: 768px) {

	/* NavBar ================*/
	.nav {
		width: 100%;

		position: absolute;
		top: 80px;
		left: -100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		background-color: var(--darkgray);
		opacity: 1;

		transition: all 0.5s linear;

		z-index: 10000;
	}

	.nav.active {
		background-color: var(--darkgray);
		left: 0;
		opacity: 1;
	}

	.nav_link {
		width: 100%;
		text-align: center;
		padding: 15px 0;
	}

	.nav_link:hover {
		text-align: center;
		background-color: var(--ligthred);
	}

	.nav_link a:hover {
		color: #fff;
		transition: none;
	}

	.nav_link_btn {
		padding: 9px 0;
	}

	.nav_link_btn a {
		background-color: transparent;

		margin: 0 auto;
	}

	.nav_link_btn a:hover {
		border: none;
	}

	/* Menu Mobile ===========*/
	.menu_toggle {
		display: block;

		position: absolute;
		top: 50%;
		right: 15px;

		transform: translateY(-50%);
	}

	.menu_toggle .bar {
		transition: transform 0.3s linear;
	}

	.menu_toggle.isActive .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.menu_toggle.isActive .bar:nth-child(2) {
		opacity: 0;
	}

	.menu_toggle.isActive .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
